# Konfigurasi Backend URL
VITE_API_BASE_URL=<MASUKKAN_URL_BACKEND_API_ANDA>

# Konfigurasi Firebase Realtime Database (Opsional jika masih ada yang tersisa di sisi Frontend)
# VITE_FIREBASE_API_KEY=<MASUKKAN_API_KEY_FIREBASE_ANDA>
# VITE_FIREBASE_AUTH_DOMAIN=<MASUKKAN_AUTH_DOMAIN_FIREBASE_ANDA>
# VITE_FIREBASE_DATABASE_URL=<MASUKKAN_URL_DATABASE_FIREBASE_ANDA>
# VITE_FIREBASE_PROJECT_ID=<MASUKKAN_ID_PROYEK_FIREBASE_ANDA>
