# Konfigurasi Kredensial Database MySQL
DB_USER=<MASUKKAN_USERNAME_DATABASE_ANDA>
DB_PASS=<MASUKKAN_PASSWORD_DATABASE_ANDA_JIKA_ADA>
DB_HOST=<MASUKKAN_HOST_DATABASE_ANDA_MISAL_LOCALHOST>
DB_PORT=<MASUKKAN_PORT_DATABASE_ANDA_MISAL_3306>
DB_NAME=<MASUKKAN_NAMA_DATABASE_ANDA>

# Secret Key untuk Enkripsi Token JWT
SECRET_KEY=<MASUKKAN_STRING_ACAK_PANJANG_UNTUK_KEAMANAN_JWT>

# Konfigurasi Firebase Admin SDK (Opsional jika ingin notifikasi / database realtime)
FIREBASE_CREDENTIALS_PATH=<LOKASI_FILE_JSON_FIREBASE_ADMIN_ANDA>
FIREBASE_DATABASE_URL=<URL_FIREBASE_REALTIME_DATABASE_ANDA>
